{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{{ asset('js/index/gallery.js') }}"></script>
{% endblock %}

{% block content %}
    <div>
        {% for subcategory in subcategories %}
            <h3>{{ subcategory.title }}</h3>
            {% if images[subcategory.id]|default(false) %}
                <ul class="bxSlider">
                    {% set categoryId = subcategory.getCategoryId() %}
                    {% set subcategoryId = subcategory.id %}
                    {% for image in images[subcategory.id] %}
                        <li><img src="{{ asset('images/gallery/'~categoryId~'/'~subcategoryId~'/'~image.big) }}" alt="">
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Фотографий в этой субкатегории пока нет</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

