{% extends 'base.html.twig' %}
{% block title %} Главная{% endblock %}

{% block content %}
    <div id="home">
        <div id="wrap">
            <div id="page-content">
                {{ page.text|raw }}
            </div>
        </div>
    </div>
{% endblock %}

