{% extends 'base.html.twig' %}
{% block title %} Главная{% endblock %}
{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('css/index/index.css') }}">#}
{% endblock %}

{% block content %}
    <div id="home">
        <div id="wrap">
            {{ page.text }}


        </div>

    </div>
{% endblock %}

