{% extends 'base.html.twig' %}
{% block title %} Вход{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index/login.css') }}">
{% endblock %}

{% block content %}
    <div id="home">
        <div id="wrap">
            <h1>Вход</h1>
            <div>
                {{ form_start(form, {method: 'post'}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
