{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <ol>
            {% for doc in docs %}
                <li><a href="{{ asset(docsDir~doc.getFileName()) }}">{{ doc.title }}</a> </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}

