{% extends 'admin.html.twig' %}

{% block content %}
    {% for message in messages %}
        <div>
            <div>
                <span>{{ message.date }}</span>
                <span>{{ message.name }}</span>
            </div>
            <div>{{ message.text }}</div>
        </div>
    {% endfor %}
{% endblock %}
