<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Административный раздел сайта - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/admin/style.css') }}">
</head>
<body>

<div id="wrap">
    <div id="main-navigation">
        {{ knp_menu_render('admin_menu') }}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/admin/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
